node_modules
dist
app/src/**/*.js
.env
.env.*
!.env.example
service-account*.json
*firebase-adminsdk*.json
.firebase
.emulator-data
firebase-debug.log*
firestore-debug.log*
ui-debug.log*
.DS_Store
*.log
